<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.wjft.odo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_other">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.recyclerview_pullpush.SwipeRecyclerViewTest">
        </activity>
        <activity android:name=".view.pull_customview.PullActivity">
        </activity>
        <activity android:name=".view.Tset.TestActivity">
        </activity>
        <activity android:name=".view.design.DesignMenuActivity">
        </activity>
        <activity android:name=".view.design.CoordinatorLayout1Activity">
        </activity>
        <activity android:name=".view.design.CoordinatorLayout2Activity">
        </activity>
        <activity android:name=".view.design.CoordinatorLayout3Activity">
        </activity>

        <service
            android:name=".service.JobSchedulerSimpleService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <activity android:name=".view.optimize.BackOptimizeActivity">
        </activity>
        <activity android:name=".view.photo.PhotoActivity">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wjft.odo.view.photo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".view.photo.PhotoMenuActivity">
        </activity>
        <activity android:name=".PermissionsActivity">
        </activity>
        <activity android:name=".view.photo.TakePhotoActivity">
        </activity>
        <activity android:name=".view.custom_view.ViewDragHelperActivity">
        </activity>
        <activity android:name=".view.custom_view.SimpleDemoActivity">
        </activity>
        <activity android:name=".view.multitype.MultiTypeActivity">
        </activity>
        <activity android:name=".view.sjff.SjffActivity">
        </activity>
    </application>

</manifest>